body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.game {
    display: flex;
    flex-direction: column;
    text-align: center;
    order: 1;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.reset-btn {
    background-color: #4D9ABB;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.reset-btn:hover {
    background-color: darkgreen;
}

.game__download,
.game__download__mac {
    margin-top: 50px;
    background-color: #c9752b;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    transition: all .5s;
}

.game__download__mac {
    background-color: #353946;
    margin-bottom: 100px;
}

.game__download:hover,
.game__download__mac:hover {
    background-color: #4D9ABB;
}

.phone__info,
.game__about {
    background-color: rgb(78, 155, 188);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    width: 95%;
    margin-bottom: 25px;
}

@media (max-width: 1000px) {

    .game__download,
    .game__download__mac {
        display: none;
    }

    .game__about {
        display: none;
    }

}

@media (min-width: 1000px) {

    .game__download,
    .game__download__mac {
        display: block;
    }

    .game__about {
        display: block;
    }

    .phone__info {
        display: none;
    }
}