body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.reset-btn {
    background-color: #4D9ABB;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.reset-btn:hover {
    background-color: #353946;
}

.game__download {
    margin-top: 50px;
    background-color: rgb(201, 117, 43);
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    transition: all .5s;
}

.game__download:hover {
    background-color: #4D9ABB;
}