@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap);

.top,
.wrapper {
    display: grid;
    grid-gap: 20px
}

html,
p.rotate-x {
    color: var(--dark)
}

.menu__button:hover,
.menu__item:hover {
    background: var(--orange)
}

.hobby,
#hoverElement,
.resume,
.resume__button {
    transition: .5s
}

.gallery img,
.old,
.resume {
    width: 100%
}

:root {
    --orange: rgb(201, 117, 43);
    --dark: #353946;
    --mid_blue: #4D9ABB;
    --light_blue: #b8d3d1;
    --shadow: 2px 2px 4px var(--dark)
}

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .07)
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    background-image: linear-gradient(110deg, var(--light_blue), var(--dark));
    background-size: auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    background-attachment: fixed;
    letter-spacing: .5px;
    font-size: 20px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px
}

img {
    max-width: 100%
}

.top {
    grid-template-areas: "intro intro" "hero cta1";
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr 600px;
    font-size: 30px
}

.hero {
    grid-area: hero;
    min-height: 300px;
    min-width: 200px;
    background: url(../images/Portraits\(73\).webp) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.cta,
.intro,
.menu__list {
    display: grid
}

.intro {
    font-family: 'Kaushan Script', cursive;
    grid-area: intro;
    background: rgba(255, 255, 255, .3);
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: .5s;
    opacity: 0
}

.cta,
.menu__button,
.menu__item {
    background: var(--dark);
    color: #fff
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

p.rotate-x {
    animation: 3s 2s forwards rotateX;
    transform: rotateX(-90deg);
    padding: 10px
}

@keyframes rotateX {
    100% {
        transform: none
    }
}

.cta {
    align-items: center;
    justify-items: center;
    align-content: center;
    text-shadow: var(--shadow);
    padding: 10px
}

.cta1 {
    grid-area: cta1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    align-items: start;
}

.cta1 p {
    animation: 2s cubic-bezier(0, .8, .4, 1.25) forwards text-scale;
    text-align: center;
}

.cta p {
    margin: 0;
    font-size: .9em;
    font-weight: 300
}

.name {
    font-size: 1.5em;
    text-align: center;
    margin-top: 35px;
}

.skills {
    font-weight: 300;
    list-style-type: none;
}

.skill {
    margin-bottom: 30px;
}


@keyframes shift-in {
    0% {
        transform: translate(-200%, 95%)
    }

    50% {
        transform: translate(0, 95%)
    }

    100% {
        transform: none
    }
}

@keyframes text-scale {
    0% {
        opacity: 0;
        transform: scale(.5)
    }

    40% {
        opacity: 1
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.menu__button {
    font-weight: 800
}

.menu__list {
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    font-size: 15px
}

.hobby,
.menu__button,
.menu__item {
    padding: 10px;
    text-align: center;
    text-decoration: none
}

.menu__list li {
    margin: 5px
}

.menu__button,
.menu__item {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    transition: .5s
}

.menu__item:hover {
    color: #fff;
    animation: .5s infinite wiggle;
    cursor: pointer
}

.hobby:visited,
.resume__button:visited {
    color: var(--dark)
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0)
    }

    25%,
    75% {
        transform: rotate(5deg)
    }

    50% {
        transform: rotate(-5deg)
    }
}

[aria-controls=menu-list] {
    display: none
}

.gallery,
.hobbies {
    display: grid;
    grid-gap: 20px
}

.hobbies {
    grid-template-columns: repeat(auto-fit, minmax(33vw, 1fr));
    overflow: hidden
}

.hobby {
    background: var(--mid_blue);
    box-shadow: 0 0 4px rgba(255, 255, 255, .1);
    border-radius: 20px
}

.hobby .icon {
    font-size: 50px
}

.hobby p {
    font-size: .9em
}

.bar,
.cuda:hover,
.gallery h2,
.hobby h3,
.hobby p {
    color: #fff;
    text-shadow: var(--shadow);
}

.hobby p {
    font-weight: 300;
    font-size: 17px;
}

.button__grid {
    grid-area: links;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.resume {
    grid-area: image;
    height: 500px;
    margin-bottom: 50px
}

.gallery {
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr
}

.about,
.bar,
.gallery h2 {
    display: grid;
    align-items: center;
    text-align: center;
}

.gallery img {
    max-width: 700px
}

.bar,
.gallery h2 {
    grid-column: 1/-1;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    margin-bottom: 15px
}

.about__text,
.resume__button {
    color: var(--dark);
    text-align: center
}

.bar:before,
.gallery h2:before {
    display: block;
    content: '';
    height: 10px;
    background: linear-gradient(to left, var(--orange), transparent)
}

.bar:after,
.gallery h2:after {
    display: block;
    content: '';
    height: 10px;
    background: linear-gradient(to right, var(--orange), transparent)
}

.about {
    background-color: var(--light_blue);
    grid-template-areas: "image image" "words words" "links links";
    padding: 20px
}

.game__about,
.image-grid,
.music-grid {
    display: none
}

.transform {
    transform: rotate(90deg);
    scale: .7
}

.music-grid {
    margin-top: 30px
}

.about__text {
    padding: 10px;
    grid-area: words;
    font-size: 3rem
}

.resume__button {
    background-color: #fff;
    text-decoration: none;
    padding: 30px;
    grid-column: 1/3;
    font-size: 2.5rem
}

.resume__button:hover {
    background-color: var(--dark);
    color: #fff
}

.hobby:hover,
#hoverElement:hover {
    cursor: pointer;
    background-color: #c7752c
}

#hoverElement:hover {
    animation: 1s infinite wave
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }
}

.resume__display {
    width: 100%;
    height: 80vh
}

header {
    text-align: center
}

.job__title {
    border-top: 5px solid var(--mid_blue);
    padding: 15px;
    color: #fff;
    text-shadow: var(--shadow);
    text-align: center
}

.about-me-section {
    margin: 0 auto 20px
}

.renovation__title {
    margin-bottom: 20px;
    margin-top: 50px;
    border-top: 2px solid var(--dark);
    padding: 10px
}

.cuda {
    font-style: italic;
    color: var(--dark)
}

.game__about,
.hobby-section,
.phone__info {
    margin-top: 60px;
    border: 2px solid var(--dark);
    border-radius: 10px;
    padding: 20px 20px 30px;
    background-color: rgb(184, 212, 210, .8)
}

.hobby-description {
    color: var(--dark);
    margin-bottom: 25px
}

.show-images-button {
    padding: 10px;
    font-size: 2rem;
    font-weight: 400;
    background-color: var(--mid_blue);
    color: #fff;
    text-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
    margin: 10px
}

.show-images-button:hover {
    color: var(--dark);
    background-color: #fff;
    text-shadow: none;
    font-weight: 900
}

.image-grid img {
    margin: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--dark);
    max-width: 30%
}

.image-grid {
    margin-top: 20px;
    align-items: center;
    justify-content: center
}

.game,
.section-title {
    text-align: center;
    margin-top: 50px;
    font-family: 'Kaushan Script', cursive;
}

.section-title {
    color: #fff;
    text-shadow: var(--shadow)
}

#audioPlayer {
    margin-top: 5px;
    margin-bottom: 25px
}

.game {
    display: flex;
    flex-direction: column;
    order: 1;
    justify-content: center;
    align-items: center
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 700
}

.reset-btn {
    background-color: #4d9abb;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color .3s;
    width: 50%
}

.reset-btn:hover {
    background-color: #006400
}

.game__download,
.game__download__mac {
    display: none;
    margin: 50px 30px;
    background-color: #c9752b;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    transition: .5s
}

.game__download__mac {
    background-color: #353946;
    margin-bottom: 100px
}

.game__download:hover,
.game__download__mac:hover {
    background-color: #4d9abb
}

@media (min-width:1000px) {
    .resume__button {
        display: none
    }
}

@media (min-width:1080px) {
    .music-grid {
        margin-top: 30px;
        grid-template-columns: 1fr 1fr 1fr
    }

    .game__about,
    .game__download,
    .game__download__mac {
        display: block
    }

    .phone__info {
        display: none
    }
}

@media (min-width:1500px) {
    .image-grid img {
        max-width: 20%
    }
}

@media (max-width:1000px) {

    .about__button:hover,
    .menu__item:hover {
        animation: none
    }

    .menu {
        order: -1;
        perspective: 800px
    }

    [aria-controls=menu-list] {
        display: block;
        margin-bottom: 10px
    }

    .menu ul {
        max-height: 0;
        transform: rotateX(90deg);
        overflow: hidden;
        transition: .5s
    }

    [aria-expanded=true]~ul {
        display: grid;
        max-height: 500px;
        transform: rotateX(0)
    }

    .resume,
    [aria-expanded=false] .close,
    [aria-expanded=true] .open {
        display: none
    }

    [aria-expanded=true] .close {
        display: inline-block
    }

    .button__grid {
        flex-direction: column
    }

    .menu__item {
        width: 100%;
        margin-bottom: 20px
    }

    .about__button {
        margin-bottom: 25px;
        transition: .5s
    }

    .image-grid img {
        max-width: 40%
    }

    .top {
        grid-template-areas: "intro " "hero " "cta1 ";
        grid-template-columns: 1fr
    }
}

@media (max-width:767px) {

    .gallery {
        grid-template-columns: 1fr 1fr
    }

    .transform {
        scale: .7
    }

    .image-grid {
        margin-top: 30px
    }

    .image-grid img {
        max-width: 80%
    }
}

@media (max-width:500px) {
    .gallery {
        grid-template-columns: 1fr
    }
}